 
 
 .whitelist-container {
    background-color: #00000029;

    
background-color: white;
    /* background-image: linear-gradient(to right, #8f8e8f, #a391a4, #b693bb, #c796d2, #d898eb); */
    /* background-image: url('../../assets/bg-white.jpg'); 
object-fit: cover; /* Center the image */
  /* background-repeat: no-repeat; Do not repeat the image */
  /* background-size: cover; Scale the image to the largest size that fits within the container */


    padding: 40px 220px;

    display: flex;
    flex-direction: column;
    justify-content: center; /* Aligns children vertically */
    align-items: center; /* Aligns children horizontally */
  /* Minimum height of 100% of the viewport height */
    text-align: center;
  }
  .whitelist-sub-container{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Aligns children vertically */
    align-items: center; /* Aligns children horizontally */
    min-height: 50vh; /* Minimum height of 100% of the viewport height */

    text-align: center;
    background-color: black;
    width: 50%;
    border-radius: 40px;
    color: white;
   
    padding: 0 0;
  }
  .whitelist-border-container{

    border: 2px solid #cf3bfb;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Aligns children vertically */
    align-items: center; /* Aligns children horizontally */
  min-height: 65vh; /* Minimum height of 100% of the viewport height */
    text-align: center;
    background-color: black;

    width: 70%;
    border-radius: 40px;
  }  

 

.whitelist-sub-container h2{
    color: white;
}
  .title {

    margin-bottom: 30px;

  }
  
  .subtitle {
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
  }
  
  .input {
    margin-bottom: 20px;
    padding: 5px;
    border: none;
    border-radius: 5px;
  }
  
  .button {
    padding: 10px;

    
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #CF3BFB;
    color: white;
  }
  input[type='text'],
input[type='email'] {
  color: white; /* This makes the text color white */
  background-color: transparent; /* Assuming you want a transparent background */
  border: 1px solid white; /* White border */
  border-radius: 5px; /* Rounded corners */
  padding: 5px; /* Some padding inside the input field */
  margin-bottom: 20px; /* Margin to separate input fields */

  /* Placeholder color */
  ::placeholder {
    color: white; /* White placeholder text */
  }
}


input[type='submit'] {
  background-color: #A020F0; /* A purple background for the submit button */
  color: white; /* White text for the submit button */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  padding: 5px ; /* Padding */
  text-transform: uppercase; /* Uppercase text */
  cursor: pointer; /* Cursor changes to a pointer on hover */
  transition: background-color 0.3s; /* Smooth transition for background color */
}

input[type='submit']:hover {
  background-color: #A020F0; 
  color: white;/* Darker purple background on hover */
}

  /* Responsive adjustments */
  @media (max-width: 768px) {
    .whitelist-container {
      padding: 5px;
    }
  
    .title {
      font-size: 1.1em;
      margin:10px 0;
    }
    .whitelist-sub-container{
      display: flex;
      flex-direction: column;
      justify-content: center; /* Aligns children vertically */
      align-items: center; /* Aligns children horizontally */
      min-height: 40vh; /* Minimum height of 100% of the viewport height */
  
      text-align: center;
      background-color: black;
      width: 90%;
      border-radius: 40px;
      color: white;
     
      padding: 0 0;
    }
    input[type='text'],
    input[type='email'] {
      color: white; /* This makes the text color white */
      background-color: transparent; /* Assuming you want a transparent background */
      border: 1px solid white; /* White border */
      border-radius: 5px; /* Rounded corners */
      padding: 2px; /* Some padding inside the input field */
      margin-bottom: 10px; /* Margin to separate input fields */
    
      /* Placeholder color */
      ::placeholder {
        color: white; /* White placeholder text */
      }
    }
    .subtitle {
      margin-bottom: 5px;
    }
    .whitelist-border-container{
  
      border: 2px solid #cf3bfb;
      display: flex;
      flex-direction: column;
      justify-content: center; /* Aligns children vertically */
      align-items: center; /* Aligns children horizontally */
    min-height: 20vh; /* Minimum height of 100% of the viewport height */
      text-align: center;
      background-color: black;
  
      width: 80%;
      padding-top: 30px;
      padding-bottom: 30px;
      margin: 20px 20px;

      border-radius: 40px;
    }  
    input[type='submit'] {
      background-color: #A020F0; /* A purple background for the submit button */
      color: white; /* White text for the submit button */
      border: none; /* No border */
      border-radius: 5px; /* Rounded corners */
      padding: 5px ; /* Padding */
      text-transform: uppercase; /* Uppercase text */
      cursor: pointer; /* Cursor changes to a pointer on hover */
      transition: background-color 0.3s; /* Smooth transition for background color */
    }
    
    .form {
      width: 90%;
    }
  }
  