.faq-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .faq {
    color: black;
    background: #f7f7f7;
    margin-bottom: 5px;
    padding: 20px 20px;
    border-radius: 8px;
  }
  
  .faq-question {
    font-weight: bold;
    cursor: pointer;
    position: relative;
  }
  
  .faq-question::after {
    content: '+';
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .faq-answer {
    padding: 10px 0;
    border-top: 1px solid #ddd;
    margin-top: 10px;
  }
  
  /* Style when answer is active */
  .faq.active .faq-question::after {
    content: '-';
  }
  